$mobile: 568px;
$tablet: 1024px;
$laptop: 1288px;
$desktop: 1366px;

/**
 * http://gs.statcounter.com/screen-resolution-stats/mobile/brazil/#monthly-201805-201905
  360x640
  45.25%
  375x667
  5.49%
  360x720
  4.5%
  412x846
  3.6%
  412x732
  3.39%
  320x534
  3.16%
 */
