.core-asidebar {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 280px;
  background-color: #2d323e;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.35);
}
