/* You can add global styles to this file, and also import other style files */
*, html {
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
  font-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: hsl(0, 0%, 98%);
  color: #212529;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
